.admin-common-cnt {
  margin-top: 70px;
  margin-bottom: 70px;
  .card {
    --bs-card-bg:#fff;

    .card-header, .card-footer {
      background: #c2cad6;
    }
  }

  .table-responsive {  
    // Firefox scrollbar styles
    scrollbar-width: thin; // Thin scrollbar in Firefox
    scrollbar-color: #767e87 #fff; // Thumb color followed by track color
  }  

  .viewTable {
    --bs-table-bg: #fff;

    td {
      vertical-align: unset !important;
      /* Center vertically */
      text-align: unset !important;
      /* Center horizontally (optional) */
    }
  }


  .btn {
    text-shadow: 0.5px 0.5px #3337;
    transition: all 0.3s ease-in-out;
    padding: 6px 15px;
    border-radius: 3px;
    box-shadow: 0 1px 4px #3338;
    line-height: 16px;
    font-size: 16px;
  }

  .btn-info {
    background: #00897B;
    border: 1px solid #00897B;
    color: #fff;
  }
  .btn-primary {
    background: #317589;
    border: 1px solid  #317589;
    color: #fff;
  }

  .payment-request-reason-form {
    border-radius: 5px;
    background: #f8f4f4;
    padding: 10px;
    
    .form-label {
      margin-bottom: 5px;
      color: #333;
      font-weight: bold;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-control {
      font-size: 14px;
      background-color: #fff;
      color: #555;
      border: 1px solid #ccc;
    }

    .form-control[readonly] {
      background-color: #eee;
    }
  }

}
