.admin-common-cnt {
  margin-top: 70px;
  margin-bottom: 70px;

  .card {
    --bs-card-bg: #fff;

    .card-header,
    .card-footer {
      background: #c2cad6;
    }
  }

  .dropdown-menu {
    --bs-dropdown-bg: #fff;

    .dropdown-item.active,
    .dropdown-item:active {
      color: #333333;
      text-decoration: none;
      background-color: #dfdfdf;
    }
  }

  .search-input-group {
    border-radius: 0.375rem;
    .search-input {
      height: 30px;
      font-size: 16px;
      background-color: #f8f9fa;
    }
  
    .search-button-container {
      background-color: transparent;
      padding: 0;
      border: 0;

      .search-button {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: #34568a;
      }
    }
  
    
  }

  .table-responsive {
    // Firefox scrollbar styles
    scrollbar-width: thin; // Thin scrollbar in Firefox
    scrollbar-color: #767e87 #fff; // Thumb color followed by track color
  }

  .table {
    --bs-table-bg: #fff;

    td {
      vertical-align: middle;
      /* Center vertically */
      text-align: center;
      /* Center horizontally (optional) */
    }
  }

  .common-form {
    .form-label {
      margin-bottom: 5px;
      color: #333;
      font-weight: bold;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-control {
      font-size: 14px;
      background-color: #fff;
      color: #555;
      border: 1px solid #ccc;
    }

    .form-control[readonly] {
      background-color: #eee;
    }
  }

  .btn {
    text-shadow: 0.5px 0.5px #3337;
    transition: all 0.3s ease-in-out;
    padding: 6px 15px;
    border-radius: 3px;
    box-shadow: 0 1px 4px #3338;
    line-height: 16px;
    font-size: 16px;
  }

  .btn-info {
    background: #00897B;
    border: 1px solid #00897B;
    color: #fff;
  }

  .btn-primary {
    background: #317589;
    border: 1px solid #317589;
    color: #fff;
  }

  .image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 4px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
    
    .defaultImageIcon {
      height: 180px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}