
  
  .userPostEdit {
    margin: 70px 0 90px 0;

    .cnt {
        box-shadow: 0 1px 10px rgba(60, 60, 60, 0.4);
        background: #fff;
        border-radius: 4px;
        padding: 5px;
  
      .panel-heading {
        border-radius: 3px 3px 0 0;
        border-bottom: 0.5px solid rgb(30 30 30 / 8%);
        padding: 10px 15px;
        background: #c2cad6;
        font-size: 20px;
        margin: 0;
  
        h3 {
          font-size: 20px;
          margin-bottom: 0;
        }
      }
  
      .panel-body {
        margin-top: -1px;
        margin-bottom: -1px;
        padding: 15px;
        overflow: auto;
        position: relative;
        box-sizing: border-box;
        text-decoration: none;

        .new-post-form {
            padding: 10px;
      
            .form-label {
              margin-bottom: 2px;
              color: #333;
              font-weight: bold;
            }
      
            .form-group {
                margin-bottom: 15px;

                h3 {
                    font-size: 24px;
                }
            }
      
            .form-control {
              font-size: 14px;
              background-color: #fff;
              color: #555;
              border: 1px solid #ccc;
            }
      
            .form-control[readonly] {
              background-color: #eee;
            }
      
            .req {
              border-color: #239823;
            }
            .btn {
                text-shadow: 0.5px 0.5px #3337;
                transition: all 0.3s ease-in-out;
                padding: 6px 15px;
                border-radius: 3px;
                box-shadow: 0 1px 4px #3338;
                line-height: 16px;
                font-size: 16px;
            }

            .btn-info {
                background: #00897B;
                border: 1px solid  #00897B;
                color: #ffffff;
                text-shadow: 0.5px 0.5px #33333377;
                transition: all 0.3s ease-in-out;
            }
          }
      }
  
      .panel-footer {
        border-radius: 0 0 3px 3px;
        border-top: 0.5px solid rgb(30 30 30 / 8%);
        padding: 10px 15px;
        background: #c2cad6;
      }
  
    }
  
  }